/*######## Defaults ########*/

html {
    background-color: #f7f7f7;
    letter-spacing: 1.7px;
    color: #77716d;
}
body {
    line-height: 1;
    margin: 0;
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
}

/*######## Navigation Bar ########*/


/*######## Navigation Bar ########*/

a {
    color: #656565;
}

/* instead of nav its called header */

.entireNavigation {
    box-shadow: 0 3px 1rem rgba(0, 0, 0, .09);
    background: #f3f3f3;
    position: fixed;
    width: 100%;
    transition: 0.3s ease;
    z-index: 3;
}

/* the list items underneath the logo*/

.entireNavigation ul {
    font-family: 'Asap', sans-serif;
    text-transform: uppercase;
    /*font-size: 15px;*/
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background: #f3f3f3;
    transition: 0.3s ease;
}

/* the anchor tags of headers*/

.entireNavigation ul a {
    display: flex;
    padding: 20px 20px;
    text-decoration: none;
    transition: 0.3s ease;
}
.entireNavigation ul a:hover {
    color: #f4a482;
    transition: 0.3s ease;
}

/* the positioning and styling of the tbdross logo*/

.entireNavigation .logoLeftName {
    font-family: 'Asap', sans-serif;
    text-transform: uppercase;
    float: left;
    display: block;
    font-size: 17px;
    padding: 20px 20px 0px 22px;
    text-decoration: none;
    transition: 0.3s ease;
}
.entireNavigation a.logoLeftName:hover {
    color: #2e3438;
}

/* this clears the syling and positions the items underneath the logo */

.entireNavigation .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.1s ease-out;
}

/* this is the styling of the hamburger*/

.entireNavigation .menu-icon {
    position: relative;
    float: right;
    padding: 27px 20px;
    cursor: pointer;
}

/* these 3 header menue-icon stylings are for the hamburger*/

.entireNavigation .menu-icon .nav-icon {
    background: #656565;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background 0.2s ease-out;
    border-radius: 15px;
}
.entireNavigation .menu-icon .nav-icon:before {
    background: #656565;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 5px;
    border-radius: 15px;
    transition: all 0.2s ease-out;
}
.entireNavigation .menu-icon .nav-icon:after {
    background: #656565;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -5px;
    border-radius: 15px;
    transition: all 0.3s ease-out;
}

/*this links the input check and the hamburger together*/

.navBar-btn {
    display: none;
}
.entireNavigation .navBar-btn:checked~ .menu {
    max-height: 330px;
}
.entireNavigation .navBar-btn:checked~ .menu-icon .nav-icon {
    background: transparent;
}
.entireNavigation .navBar-btn:checked~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}
.entireNavigation .navBar-btn:checked~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}

/*.entireNavigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f3f3f3;
    position: relative;
    margin: 0;
    width: 100%;*/


/*font-family: 'Asap', sans-serif;
    font-weight: 400;
    width: 100%;
    margin: 0
    display: block;*/


/*    box-shadow: 0 3px 1rem rgba(0, 0, 0, .09);
    position: fixed;
    transition: 0.3s;
    z-index: 3;
}*/


/*this is the tbdrosa 'logo' styling*/


/*

.logoLeftName a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Asap', sans-serif;
    color: #656565;
    transition: 0.3s;
    margin: 0px 0px 0px 90px;
}
*/


/*when you hover color change*/


/*
.logoLeftName a:hover {
    color: #2e3438;
}*/


/*this is the mobile hamburger button*/


/*
.toggle-hamburger {
    position: absolute;
    top: 15px;
    right: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}
.toggle-hamburger .bar {
    height: 3px;
    width: 100%;
    background-color: #656565;
    border-radius: 10px;
}*/


/* the contents towards the right of the navigation bar*/


/*.navBarLinks ul {
    display: flex;
}
.navBarLinks li {
    list-style: none;
}
.navBarLinks li a {
    font-family: 'Asap', sans-serif;
    text-decoration: none;
    color: #656565;
    padding-right: 26px;
    display: block;
    text-transform: uppercase;
    transition: 0.3s;
}
.navBarLinks li a:hover {
    color: #f4a482;
}
nav.hide {
    transform: translateY(-100%);
}
.navBarLinks li.socialMediaIconRightLast a {
    padding-right: 45px;
}*/


/* Create a Parallax Effect */

.blogIntro {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    opacity: 0.87;
}

/* First image (Full height) */

.blogIntro {
    background-image: url("../img/sitting.jpg");
    min-height: 100vh;
    z-index: -1;
}

/*#### titles for images ####*/

.blogHeader {
    padding: 150px 20%;
    z-index: 1;
    text-align: center;
    color: #fff;
    font-size: 1em
}
h1 {
    font-size: 80px;
    font-style: italic;
    font-weight: 100;
    text-align: center;
}

/* First Blog Entry title styles*/

h2 {
    color: #656565;
    font-size: 75px;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    padding: 15px 11px 0px 11px;
}

/* Getting Started subEntry title*/

h3 {
    color: #656565;
    font-size: 25px;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    padding: 7px 0px 0px 0px;
}

/* welcome intro blurb*/

h5 {
    font-size: 28px;
    font-style: normal;
    font-weight: 100;
    text-align: center;
    /*padding: 10px;*/
    line-height: 1.7;
}

/* the dateSUbmission of post*/

h6 {
    font-size: 25px;
    font-style: normal;
    font-weight: 100;
    text-align: center;
    color: #656565;
}

/* this is the main body text styling */

.journalEntryBody > * {
    grid-column: 2/-2;
}
.journalEntryBody>figure {
    grid-column: 1/-1;
}
.journalEntryBody {
    font-size: 18px;
    margin: 25px auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 5.85fr 1.5fr;
    grid-gap: 10px 30px;
}
p {
    line-height: 2.0;
    font-family: 'Libre Baskerville', serif;
}
.blogFooter {
    padding: 20px 80px 33px 80px;
    text-align: justify;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-family: 'Libre Baskerville', serif;
    font-size: 12px;
    color: #77716d;
}
img {
    /*padding: 65px 25px 0px;*/
    max-width: 100%;
    /*display: block;*/
    /*padding: 20px 0px 20px 0px;*/
    /*grid-row-gap: 20px;*/
}

/*######## image position: how they are centered in the screen and equal padding########*/

.portfolioColumn img {
    display: block;
    max-width: 92%;
    /*height: auto;*/
    /*max-height: 100vh;*/
    margin: auto;
    /*margin: 20px 0px 20px 0px;*/
    /*    border: 20px 0px 20px 0px;*/
    grid-row-gap: 20px;
}

/* added styling for **kodak note at the bottom */

@media(max-width: 1024px) {
    p.note {
        font-size: 11px;
    }
}
@media(min-width: 1024px) {
    .blogIntro {
        background-image: url("../img/sitting.jpg");
        min-height: 100vh;
        z-index: -1;
    }
    h1 {
        font-size: 125px;
        font-style: italic;
        font-weight: 100;
        text-align: center;
    }
    /* First Blog Entry title styles*/
    h2 {
        color: #656565;
        font-size: 80px;
        font-style: italic;
        font-weight: 100;
        text-align: center;
        padding: 15px 11px 0px 11px;
    }
    /* Getting Started subEntry title*/
    h3 {
        color: #656565;
        font-size: 39px;
        font-style: italic;
        font-weight: 100;
        text-align: center;
        padding: 7px;
    }
    /* welcome intro blurb*/
    h5 {
        font-size: 25px;
        font-style: normal;
        font-weight: 100;
        text-align: center;
        padding: 10px;
        line-height: 1.7;
    }
    /* the dateSUbmission of post*/
    h6 {
        font-size: 30px;
        font-style: normal;
        font-weight: 100;
        text-align: center;
        color: #656565;
    }
    .journalEntryBody {
        font-size: 18px;
        max-width: 1000px;
        display: grid;
        grid-template-columns: 1fr 35fr 3.5fr;
        grid-gap: 10px 30px;
        letter-spacing: 1.7px;
    }
    p {
        font-family: 'Libre Baskerville', serif;
        color: #77716d;
        flex-basis: 38%;
        padding: 15px 30px 15px 35px;
        line-height: 2.2;
        overflow: hidden;
    }
    footer {
        text-align: center;
    }
}

/* this makes the background and column of images responsive */

@media(min-width: 1024px) {
    .container {
        background-size: cover;
    }
    .portfolioColumn img {
        display: block;
        max-width: 100%;
        height: auto;
        max-height: 100vh
    }
    .footerGrid {
        max-width: 100%;
        margin: 0;
        padding: 60px 115px 0px;
    }
    img {
        /*padding: 65px 25px 0px;*/
        max-width: 100%;
        /*display: block;*/
        /*padding: 20px 0px 20px 0px;*/
        /*grid-row-gap: 20px;*/
    }
    /*######## image position: how they are centered in the screen and equal padding########*/
    .portfolioColumn img {
        display: block;
        max-width: 92%;
        /*height: auto;*/
        /*max-height: 100vh;*/
        margin: auto;
        /*margin: 20px 0px 20px 0px;*/
        /*    border: 20px 0px 20px 0px;*/
        grid-row-gap: 20px;
    }
}

/* RESPONSIVE FOOTER for larger tablets */

@media(max-width: 1019px) {
    /*    nav {
        position: sticky;
    }
    entireNavigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #f3f3f3;
        margin: 0;
        width: 100%;
        box-shadow: 0 3px 1rem rgba(0, 0, 0, .09);
        position: sticky;
        transition: 0.3s;
        z-index: 3;
    }*/
    .footerGrid {
        background-color: #2e3438;
        display: block;
        max-width: 100%;
        height: auto;
        max-height: 100vh;
        margin: 0 auto;
        padding: 60px 0px 0px;
    }
    img {
        /*padding: 65px 25px 0px;*/
        max-width: 100%;
        /*display: block;*/
        /*padding: 20px 0px 20px 0px;*/
        /*grid-row-gap: 20px;*/
    }
    /*######## image position: how they are centered in the screen and equal padding########*/
    .portfolioColumn img {
        display: block;
        max-width: 92%;
        /*height: auto;*/
        /*max-height: 100vh;*/
        margin: auto;
        padding: 35px 15px 0px 15px;
        /*margin: 20px 0px 20px 0px;*/
        /*    border: 20px 0px 20px 0px;*/
        grid-row-gap: 20px;
    }
}

/* RESPONSIVE FOOTER for tablets */

@media(max-width: 843px) {
    /*    nav {
        position: sticky;
    }
    entireNavigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #f3f3f3;
        margin: 0;
        width: 100%;
        box-shadow: 0 3px 1rem rgba(0, 0, 0, .09);
        position: sticky;
        transition: 0.3s;
        z-index: 3;
    }*/
    .footerGrid {
        background-color: #2e3438;
        display: block;
        max-width: 100%;
        height: auto;
        max-height: 100vh;
        /*margin: 0 auto;*/
        padding: 60px 0px 0px;
    }
}

/* mobile responsive navigation bar*/


/* mobile responsive navigation bar*/

@media(min-width: 760px) {
    .entireNavigation {
        /* height: 100%;*/
    }
    .entireNavigation li {
        float: left;
    }
    .entireNavigation li a {
        padding: 20px 20px;
    }
    .entireNavigation .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .entireNavigation .menu-icon {
        display: none;
    }
    .entireNavigation .menu-icon .nav-icon {
        height: 4px;
        width: 20px;
    }
}

/*@media (max-width: 760px) {*/


/*    .toggle-hamburger {
        display: flex;
        margin: 0px 0px 0px 0px;
        padding: 15px;
    }
    .entireNavigation {
        flex-direction: column;
        align-items: flex-start;
    }
    .navBarLinks {
        display: none;
        width: 100%;
        padding: 0px;
    }
    .navBarLinks ul {
        width: 100%;
        flex-direction: column;
        height: 100vh;
    }
    .navBarLinks li {
        text-align: justify;
    }
    .navBarLinks a {
        padding: 28px;
        max-height: 100vh;
    }
    .navBarLinks.active {
        display: flex;
    }
    this is the tbdrosa 'logo' styling
    .logoLeftName a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
        font-family: 'Asap', sans-serif;
        color: #656565;
        transition: 0.3s;
        margin: 0px 0px 0px 0px;
    }
    .logoLeftName {
        margin: 0px 0px 0px 0px;
        padding: 30px;
    }
}*/


/* mobile responsive navigation bar*/

@media (max-width: 760px) {
    /*    nav {
        position: sticky;
    }
    entireNavigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #f3f3f3;
        margin: 0;
        width: 100%;
        box-shadow: 0 3px 1rem rgba(0, 0, 0, .09);
        position: sticky;
        transition: 0.3s;
        z-index: 3;
    }
    .toggle-hamburger {
        display: flex;
        margin: 0px 0px 0px 0px;
        padding: 15px;
        transition: 0.4s ease;
    }
    .entireNavigation {
        flex-direction: column;
        align-items: flex-start;
        transition: 0.4s ease;
    }
    .navBarLinks {
        display: none;
        width: 100%;
        padding: 0px;
        transition: 0.4s ease;
    }
    .navBarLinks ul {
        width: 100%;
        flex-direction: column;
        height: 100vh;
    }
    .navBarLinks li {
        text-align: justify;
        transition: 0.4s ease;
    }
    .navBarLinks a {
        padding: 28px;
        transition: 0.4s ease;
    }
    .navBarLinks.active {
        display: flex;
        transition: 0.4s ease;
    }*/
    /*this is the tbdrosa 'logo' styling*/
    /*    .logoLeftName a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
        font-family: 'Asap', sans-serif;
        color: #656565;
        transition: 0.3s;
        margin: 0px 0px 0px 0px;
    }
    .logoLeftName {
        margin: 0px 0px 0px 0px;
        padding: 30px;
    }*/
    img {
        /*padding: 65px 25px 0px;*/
        max-width: 100%;
        /*display: block;*/
        /*padding: 20px 0px 20px 0px;*/
        /*grid-row-gap: 20px;*/
    }
    /*######## image position: how they are centered in the screen and equal padding########*/
    .portfolioColumn img {
        display: block;
        max-width: 92%;
        /*height: auto;*/
        /*max-height: 100vh;*/
        margin: auto;
        padding: 35px 15px 0px 15px;
        /*margin: 20px 0px 20px 0px;*/
        /*    border: 20px 0px 20px 0px;*/
        grid-row-gap: 20px;
    }
}
@media(max-width: 563px) {
    /*    nav {
        position: fixed;
    }
    .toggle-hamburger {
        display: flex;
        margin: 0px 0px 0px 0px;
        padding: 15px;
    }
    .entireNavigation {
        flex-direction: column;
        align-items: flex-start;
    }
    .navBarLinks {
        display: none;
        width: 100%;
        padding: 0px;
    }*/
    /* First image (Full height) */
    .blogIntro {
        background-image: url("../img/sitting.jpg");
        background-attachment: scroll;
        min-height: 100vh;
        /*z-index: -1;*/
    }
    h1 {
        font-size: 90px;
        font-style: italic;
        font-weight: 100;
        text-align: center;
    }
    /* First Blog Entry title styles*/
    h2 {
        color: #656565;
        font-size: 45px;
        font-style: italic;
        font-weight: 100;
        text-align: center;
        padding: 15px 11px 0px 11px;
    }
    /* Getting Started subEntry title*/
    h3 {
        color: #656565;
        font-size: 17px;
        font-style: italic;
        font-weight: 100;
        text-align: center;
        padding: 7px;
    }
    /* welcome intro blurb*/
    h5 {
        font-size: 15px;
        font-style: normal;
        font-weight: 100;
        margin: 0px 15px 0px 15px;
        text-align: center;
        padding: 10px 0px 0px 0px;
        line-height: 1.7;
    }
    /* the dateSUbmission of post*/
    h6 {
        font-size: 15.7px;
        font-style: normal;
        font-weight: 100;
        text-align: center;
        color: #656565;
    }
    .journalEntryBody {
        font-size: 13px;
        max-width: 1000px;
        display: grid;
        /*grid-template-columns: 1fr 35fr 3.5fr;*/
        grid-gap: 10px 5px;
        letter-spacing: 1.7px;
    }
    /*justify-content: space-around;
flex-direction: column;
font-family: 'Libre Baskerville',
serif;
font-weight: 100;
font-size: 8px;
color: #77716d;*/
    p.note {
        color: #2e3438;
        padding-left: 10px;
        font-size: 12px;
        /*text-align: justify;
    align-content: center;*/
    }
    footer {
        text-align: center;
        font-size: 7px;
    }
}
@media(max-width: 563px) {
    /*   nav {
        position: sticky;
    }
    entireNavigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #f3f3f3;
        margin: 0;
        width: 100%;
        box-shadow: 0 3px 1rem rgba(0, 0, 0, .09);
        position: sticky;
        transition: 0.3s;
        z-index: 3;
    }*/
    .container {
        background-attachment: scroll;
        background-size: cover;
        max-width: 100%;
        height: auto;
    }
    img {
        /*padding: 65px 25px 0px;*/
        max-width: 100%;
        /*display: block;*/
        /*padding: 20px 0px 20px 0px;*/
        /*grid-row-gap: 20px;*/
    }
    /*######## image position: how they are centered in the screen and equal padding########*/
    .portfolioColumn img {
        display: block;
        max-width: 92%;
        /*height: auto;*/
        /*max-height: 100vh;*/
        margin: auto;
        /*margin: 20px 0px 20px 0px;*/
        /*    border: 20px 0px 20px 0px;*/
        grid-row-gap: 20px;
    }
    .footerGrid {
        background-color: #2e3438;
        display: block;
        max-width: 100%;
        height: auto;
        max-height: 100vh;
        margin: 0;
        padding: 60px 0px 0px;
    }
    p.newsletterMessage {
        font-family: 'Libre Baskerville', serif;
        font-size: 9px;
    }
}

/*.portfolioColumn img {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 100vh
}*/


/* this decreases the size of newsletter message or phones*/

@media(max-width: 444px) {
    /*  p.newsletterMessage {
        font-family: 'Libre Baskerville', serif;
        font-size: 8.56px;
    }*/
    img {
        /*padding: 65px 25px 0px;*/
        max-width: 100%;
        /*display: block;*/
        /*padding: 20px 0px 20px 0px;*/
        /*grid-row-gap: 20px;*/
    }
    /*######## image position: how they are centered in the screen and equal padding########*/
    .portfolioColumn img {
        display: block;
        max-width: 92%;
        /*height: auto;*/
        /*max-height: 100vh;*/
        margin: auto;
        /*margin: 20px 0px 20px 0px;*/
        /*    border: 20px 0px 20px 0px;*/
        grid-row-gap: 20px;
    }
}
@media(max-width: 375px) {
    img {
        /*padding: 65px 25px 0px;*/
        max-width: 100%;
        /*display: block;*/
        /*padding: 20px 0px 20px 0px;*/
        /*grid-row-gap: 20px;*/
    }
    /*######## image position: how they are centered in the screen and equal padding########*/
    .portfolioColumn img {
        display: block;
        max-width: 92%;
        /*height: auto;*/
        /*max-height: 100vh;*/
        margin: auto;
        /*margin: 20px 0px 20px 0px;*/
        /*    border: 20px 0px 20px 0px;*/
        grid-row-gap: 20px;
    }
}
@media (min-width: 321px) {
    img {
        /*padding: 65px 25px 0px;*/
        max-width: 100%;
        /*display: block;*/
        /*padding: 20px 0px 20px 0px;*/
        /*grid-row-gap: 20px;*/
    }
    /*######## image position: how they are centered in the screen and equal padding########*/
    .portfolioColumn img {
        display: block;
        max-width: 92%;
        max-height: 100vh;
        /*height: auto;*/
        /*max-height: 100vh;*/
        margin: auto;
        /*margin: 20px 0px 20px 0px;*/
        /*    border: 20px 0px 20px 0px;*/
        grid-row-gap: 20px;
    }
}
@media(max-width: 321px) {
    p.note {
        text-align: justify;
        font-size: 6px;
    }
}
