     /*######## Defaults ########*/
     
     html {
         background-color: #f7f7f7;
         letter-spacing: 1.7;
     }
     body {
         line-height: 1;
         margin: 0;
         background: #f7f7f7;
         display: flex;
         flex-direction: column;
     }
     /*######## Navigation Bar ########*/
     
     a {
         color: #656565;
     }
     /* instead of nav its called header */
     
     .entireNavigation {
         box-shadow: 0 3px 1rem rgba(0, 0, 0, .09);
         background: #f3f3f3;
         position: fixed;
         width: 100%;
         transition: 0.3s ease;
         z-index: 3;
     }
     /* the list items underneath the logo*/
     
     .entireNavigation ul {
         font-family: 'Asap', sans-serif;
         text-transform: uppercase;
         /*font-size: 15px;*/
         margin: 0;
         padding: 0;
         list-style: none;
         overflow: hidden;
         background: #f3f3f3;
         transition: 0.3s ease;
     }
     /* the anchor tags of headers*/
     
     .entireNavigation ul a {
         display: flex;
         padding: 20px 20px;
         text-decoration: none;
         transition: 0.3s ease;
     }
     .entireNavigation ul a:hover {
         color: #f4a482;
         transition: 0.3s ease;
     }
     /* the positioning and styling of the tbdross logo*/
     
     .entireNavigation .logoLeftName {
         font-family: 'Asap', sans-serif;
         text-transform: uppercase;
         float: left;
         display: block;
         font-size: 17px;
         padding: 20px 20px 0px 22px;
         text-decoration: none;
         transition: 0.3s ease;
     }
     .entireNavigation a.logoLeftName:hover {
         color: #2e3438;
     }
     /* this clears the syling and positions the items underneath the logo */
     
     .entireNavigation .menu {
         clear: both;
         max-height: 0;
         transition: max-height 0.1s ease-out;
     }
     /* this is the styling of the hamburger*/
     
     .entireNavigation .menu-icon {
         position: relative;
         float: right;
         padding: 27px 20px;
         cursor: pointer;
     }
     /* these 3 header menue-icon stylings are for the hamburger*/
     
     .entireNavigation .menu-icon .nav-icon {
         background: #656565;
         display: block;
         height: 2px;
         width: 18px;
         position: relative;
         transition: background 0.2s ease-out;
         border-radius: 15px;
     }
     .entireNavigation .menu-icon .nav-icon:before {
         background: #656565;
         content: "";
         display: block;
         height: 100%;
         width: 100%;
         position: absolute;
         top: 5px;
         border-radius: 15px;
         transition: all 0.2s ease-out;
     }
     .entireNavigation .menu-icon .nav-icon:after {
         background: #656565;
         content: "";
         display: block;
         height: 100%;
         width: 100%;
         position: absolute;
         top: -5px;
         border-radius: 15px;
         transition: all 0.3s ease-out;
     }
     /*this links the input check and the hamburger together*/
     
     .navBar-btn {
         display: none;
     }
     .entireNavigation .navBar-btn:checked~ .menu {
         max-height: 330px;
     }
     .entireNavigation .navBar-btn:checked~ .menu-icon .nav-icon {
         background: transparent;
     }
     .entireNavigation .navBar-btn:checked~ .menu-icon .nav-icon:before {
         transform: rotate(-45deg);
         top: 0;
     }
     .entireNavigation .navBar-btn:checked~ .menu-icon .nav-icon:after {
         transform: rotate(45deg);
         top: 0;
     }
     img,
     .aboutProfile {
         padding: 65px 0px 0px;
         max-width: 100%;
         display: block;
         margin: auto;
         grid-row-gap: 20px;
     }
     .marketingTextBlock a {
         color: #656565;
     }
     .marketingTextBlock a:hover {
         color: #f4a482;
     }
     /*######## aboutText paragraph positions  ########*/
     
     .aboutContainer {
         display: block;
         max-width: 530px;
         padding: 36px 20px;
         margin: auto;
         grid-row-gap: 20px;
     }
     h2 {
         color: #656565;
         font-size: 25px;
     }
     .aboutTextBlocks {
         /*padding: 15px 55px 0px 55px;*/
         text-align: justify;
         display: flex;
         justify-content: space-around;
         flex-direction: column;
         font-family: 'Libre Baskerville', serif;
         font-size: 16px;
         color: #77716d;
         flex-basis: 38%;
         padding: 15px 45px 15px 45px;
         /*padding: 15px 30px 15px 35px;*/
         line-height: 2;
         overflow: hidden;
     }
     footer {
         padding: 20px 80px 33px 80px;
         text-align: justify;
         display: flex;
         justify-content: space-around;
         flex-direction: column;
         font-family: 'Libre Baskerville', serif;
         font-weight: 100;
         font-size: 13px;
         color: #77716d;
     }
     @media(min-width: 1024px) {
         .aboutTextBlocks {
             flex-direction: row;
             text-align: justify;
             display: flex;
             justify-content: space-around;
             /*flex-direction: column;*/
             font-family: 'Libre Baskerville', serif;
             color: #77716d;
             flex-basis: 38%;
             padding: 0px 15px 0px 15px;
             line-height: 2;
             overflow: hidden;
         }
         .biographyTextBlock,
         .expertiseTextBlock,
         .marketingTextBlock {
             font-family: 'Libre Baskerville', serif;
             color: #77716d;
             flex-basis: 38%;
             padding: 15px 30px 15px 35px;
             line-height: 2;
             overflow: hidden;
         }
         nav {
             overflow: hidden;
         }
     }
     /* new mobile responsive navigation bar*/
     
     @media(min-width: 760px) {
         .entireNavigation {
             /* height: 100%;*/
         }
         .entireNavigation li {
             float: left;
         }
         .entireNavigation li a {
             padding: 20px 20px;
         }
         .entireNavigation .menu {
             clear: none;
             float: right;
             max-height: none;
         }
         .entireNavigation .menu-icon {
             display: none;
         }
         .entireNavigation .menu-icon .nav-icon {
             height: 4px;
             width: 20px;
         }
     }
     /*   @media (max-width: 760px) {
         .toggle-hamburger {
             display: flex;
             margin: 0px 0px 0px 0px;
             padding: 15px;
         }
         .entireNavigation {
             flex-direction: column;
             align-items: flex-start;
         }
         .navBarLinks {
             display: none;
             width: 100%;
             padding: 0px;
         }
         .navBarLinks ul {
             width: 100%;
             flex-direction: column;
             height: 100vh;
         }
         .navBarLinks li {
             text-align: justify;
         }
         .navBarLinks a {
             padding: 28px;
             max-height: 100vh;
         }
         .navBarLinks.active {
             display: flex;
         }
         this is the tbdrosa 'logo' styling
         .logoLeftName a {
             text-decoration: none;
             text-transform: uppercase;
             font-size: 16px;
             font-family: 'Asap', sans-serif;
             color: #656565;
             transition: 0.3s;
             margin: 0px 0px 0px 0px;
         }
         .logoLeftName {
             margin: 0px 0px 0px 0px;
             padding: 30px;
         }
     }*/
     
     @media(max-width: 563px) {
         .biographyTextBlock,
         .expertiseTextBlock,
         .marketingTextBlock {
             font-size: 10px;
             font-family: 'Libre Baskerville', serif;
             color: #77716d;
             flex-basis: 38%;
             padding: 0px 0px 0px 0px;
             line-height: 2;
             overflow: hidden;
         }
         footer {
             padding: 20px 80px 33px 80px;
             text-align: center;
             display: flex;
             justify-content: space-around;
             flex-direction: column;
             font-family: 'Libre Baskerville', serif;
             font-weight: 100;
             font-size: 8px;
             color: #77716d;
         }
     }
