/*######## Defaults ########*/

html {
    background-color: #f7f7f7;
    letter-spacing: 1.7px;
    color: #77716d;
}
body {
    line-height: 1;
    margin: 0;
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
}

/*######## Navigation Bar ########*/

nav,
topNavigation {
    background: #f3f3f3;
    font-family: 'Asap', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    margin: 0;
    display: block;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, .09);
    position: fixed;
    transition: 0.3s;
    z-index: 1;
}
nav.hide {
    transform: translateY(-100%);
}
nav ul {
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul.topNavigation {
    margin: 0 auto;
}
ul.topNavigation li {
    list-style: none;
    float: left;
}
ul.topNavigation li.topNavigation-right,

/*this is the styling label for the rest of the navigation bar contents */

ul.topNavigation li.socialMedia_icon-right
/* this is the styling label for the twitter and instagram icons */

{
    float: right;
    font-size: 15px;
}
ul.topNavigation li a {
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    color: #656565;
    text-transform: uppercase;
    transition: 0.3s;
}
.topNavigation-left {
    padding-left: 90px;
    text-transform: uppercase;
}
.topNavigation li a:hover {
    color: #f4a482;
}
.social-part .fa {
    padding-right: 90px;
}
ul li a {
    margin-right: 20px;
}

/* Create a Parallax Effect */

.blogIntro {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    opacity: 0.87;
}

/* First image (Full height) */

.blogIntro {
    background-image: url("img/sitting.jpg");
    min-height: 100vh;
    z-index: -1;
}

/*#### titles for images ####*/

.blogHeader {
    padding: 150px 20%;
    z-index: 1;
    text-align: center;
    color: #fff;
    font-size: 1em
}
h1 {
    font-size: 80px;
    font-style: italic;
    font-weight: 100;
    text-align: center;
}

/* First Blog Entry title styles*/

h2 {
    color: #656565;
    font-size: 45px;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    padding: 15px 11px 0px 11px;
}

/* Getting Started subEntry title*/

h3 {
    color: #656565;
    font-size: 45px;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    padding: 7px 0px 0px 0px;
}

/* welcome intro blurb*/

h5 {
    font-size: 28px;
    font-style: normal;
    font-weight: 100;
    text-align: center;
    /*padding: 10px;*/
    line-height: 1.7;
}

/* the dateSUbmission of post*/

h6 {
    font-size: 25px;
    font-style: normal;
    font-weight: 100;
    text-align: center;
    color: #656565;
}

/* this is the main body text styling */

.journalEntryBody > * {
    grid-column: 2/-2;
}
.journalEntryBody>figure {
    grid-column: 1/-1;
}
.journalEntryBody {
    font-size: 18px;
    margin: 25px auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 5.85fr 1.5fr;
    grid-gap: 10px 30px;
}
p {
    line-height: 2.0;
    font-family: 'Libre Baskerville', serif;
}
.blogFooter {
    padding: 20px 80px 33px 80px;
    text-align: justify;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-family: 'Libre Baskerville', serif;
    font-size: 12px;
    color: #77716d;
}
@media(min-width: 1024px) {
    .blogIntro {
        background-image: url("img/sitting.jpg");
        min-height: 100vh;
        z-index: -1;
    }
    h1 {
        font-size: 160px;
        font-style: italic;
        font-weight: 100;
        text-align: center;
    }
    /* First Blog Entry title styles*/
    h2 {
        color: #656565;
        font-size: 90px;
        font-style: italic;
        font-weight: 100;
        text-align: center;
        padding: 15px 11px 0px 11px;
    }
    /* Getting Started subEntry title*/
    h3 {
        color: #656565;
        font-size: 39px;
        font-style: italic;
        font-weight: 100;
        text-align: center;
        padding: 7px;
    }
    /* welcome intro blurb*/
    h5 {
        font-size: 25px;
        font-style: normal;
        font-weight: 100;
        text-align: center;
        padding: 10px;
        line-height: 1.7;
    }
    /* the dateSUbmission of post*/
    h6 {
        font-size: 30px;
        font-style: normal;
        font-weight: 100;
        text-align: center;
        color: #656565;
    }
    .journalEntryBody {
        font-size: 18px;
        max-width: 1000px;
        display: grid;
        grid-template-columns: 1fr 35fr 3.5fr;
        grid-gap: 10px 30px;
        letter-spacing: 1.7px;
    }
    p {
        font-family: 'Libre Baskerville', serif;
        color: #77716d;
        flex-basis: 38%;
        padding: 15px 30px 15px 35px;
        line-height: 2.2;
        overflow: hidden;
    }
    footer {
        text-align: center;
    }
}
@media(max-width: 563px) {
    nav {
        position: fixed;
    }
    /* First image (Full height) */
    .blogIntro {
        background-image: url("img/sitting.jpg");
        background-attachment: scroll;
        min-height: 100vh;
        /*z-index: -1;*/
    }
    h1 {
        font-size: 90px;
        font-style: italic;
        font-weight: 100;
        text-align: center;
    }
    /* First Blog Entry title styles*/
    h2 {
        color: #656565;
        font-size: 45px;
        font-style: italic;
        font-weight: 100;
        text-align: center;
        padding: 15px 11px 0px 11px;
    }
    /* Getting Started subEntry title*/
    h3 {
        color: #656565;
        font-size: 17px;
        font-style: italic;
        font-weight: 100;
        text-align: center;
        padding: 7px;
    }
    /* welcome intro blurb*/
    h5 {
        font-size: 15px;
        font-style: normal;
        font-weight: 100;
        margin: 0px 15px 0px 15px;
        text-align: center;
        padding: 10px 0px 0px 0px;
        line-height: 1.7;
    }
    /* the dateSUbmission of post*/
    h6 {
        font-size: 15.7px;
        font-style: normal;
        font-weight: 100;
        text-align: center;
        color: #656565;
    }
    .journalEntryBody {
        font-size: 13px;
        max-width: 1000px;
        display: grid;
        /*grid-template-columns: 1fr 35fr 3.5fr;*/
        grid-gap: 10px 5px;
        letter-spacing: 1.7px;
    }
    p {
        font-family: 'Libre Baskerville', serif;
        color: #77716d;
        /*flex-basis: 38%;*/
        /* padding: 15px 30px 15px 35px;*/
        line-height: 2.2;
        overflow: hidden;
    }
    footer {
        text-align: center;
        font-size: 7px;
    }
}

}
