html {
    color: #444;
    font-family: Cochin, Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
nav,
topNavigation {
    background: #f3f3f3;
    font-family: 'Asap', sans-serif;
    font-weight: 400;
    width: 100%;
    margin: 0;
    display: block;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, .09);
    position: fixed;
    transition: 0.3s;
    z-index: 2;
}
nav.hide {
    transform: translateY(-100%);
}
nav ul {
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul.topNavigation {
    margin: 0 auto;
}
ul.topNavigation li {
    list-style: none;
    float: left;
}
ul.topNavigation li.topNavigation-right,

/*this is the styling label for the rest of the navigation bar contents */

ul.topNavigation li.socialMedia_icon-right
/* this is the styling label for the twitter and instagram icons */

{
    float: right;
    font-size: 15px;
}

/* Create a Parallax Effect */

.blogIntro {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    opacity: 0.87;
}

/* First image (Full height) */

.blogIntro {
    background-image: url("img/sitting.jpg");
    min-height: 100vh;
    z-index: -1;
}

/*#### titles for images ####*/

.blogHeader {
    padding: 150px 20%;
    z-index: 1;
    text-align: center;
    color: #fff;
    font-size: 1em
}
h1 {
    font-size: 80px;
    font-style: italic;
    font-weight: 100;
    text-align: center;
}
h2 {
    font-size: 55px;
    font-style: italic;
    font-weight: 100;
    text-align: center;
}
h5 {
    font-size: 25px;
    font-style: normal;
    font-weight: 100;
    text-align: center;
}
h6 {
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
    text-align: center;
    color: #656565;
}

/* this is the main body text styling */

.journalEntryBody > * {
    grid-column: 2/-2;
}
.journalEntryBody>figure {
    grid-column: 1/-1;
}
.journalEntryBody {
    margin: 25px auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 3fr 1.5fr;
    grid-gap: 10px 30px;
}
.journalEntryBody > * {
    grid-column: 2/-2;
}
.blogJounralEntry {
    margin: 25px auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 3fr 1.5fr;
    grid-gap: 10px 30px;
}
p {
    line-height: 2.0;
    font-size: 18px;
}
