/*######## Defaults ########*/

html {
    background-color: #f7f7f7;
    letter-spacing: 1.7px;
    overflow-x: hidden;
    margin: 0;
}
body {
    line-height: 1.6;
    margin: 0;
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

a {
    color: #656565;
}

/*######## Navigation Bar ########*/
.entireNavigation {
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.09);
    background: #f3f3f3;
    position: fixed;
    width: 100%;
    transition: 0.3s ease;
    z-index: 3;
}

.entireNavigation ul {
    font-family: 'Asap', sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #f3f3f3;
}

.entireNavigation ul a {
    display: block;
    padding: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}
.entireNavigation ul a:hover {
    color: #f4a482;
}

.entireNavigation .logoLeftName {
    font-family: 'Asap', sans-serif;
    text-transform: uppercase;
    float: left;
    display: block;
    font-size: 17px;
    padding: 20px;
    text-decoration: none;
}
.entireNavigation a.logoLeftName:hover {
    color: #2e3438;
}

.entireNavigation .menu {
    clear: both;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.entireNavigation .menu-icon {
    position: relative;
    float: right;
    padding: 27px 20px;
    cursor: pointer;
    display: block;
}

.entireNavigation .menu-icon .nav-icon {
    background: #656565;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    border-radius: 15px;
}
.entireNavigation .menu-icon .nav-icon:before,
.entireNavigation .menu-icon .nav-icon:after {
    content: "";
    background: #656565;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 15px;
}
.entireNavigation .menu-icon .nav-icon:before {
    top: 5px;
}
.entireNavigation .menu-icon .nav-icon:after {
    top: -5px;
}

.navBar-btn {
    display: none;
}
.entireNavigation .navBar-btn:checked ~ .menu {
    max-height: 330px;
}
.entireNavigation .navBar-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}
.entireNavigation .navBar-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}
.entireNavigation .navBar-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}

/*######## Parallax Effect ########*/
.container {
    background-image: url("img/portfolio/walking_.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

@media (max-width: 760px) {
    .container {
        background-attachment: scroll;
        background-position: top;
    }
}

/*######## Image Styling ########*/
img {
    max-width: 100%;
    margin: auto;
}

.portfolioColumn img {
    padding: 35px 15px 8px;
    display: block;
    max-width: 92%;
}

/*######## About Text ########*/
p.aboutText, p.copyright {
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    font-family: 'Asap', sans-serif;
    font-size: 12px;
    line-height: 1.6em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
p.aboutText {
    margin: 0 50px 30px;
}
p.copyright {
    margin: 15px 50px;
}

/*######## Footer ########*/
footer {
    background-color: #2e3438;
    color: #fff;
    padding: 50px;
}

ul.bottomFooter li {
    list-style: none;
    float: right;
}
ul.bottomFooter li a {
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
ul.bottomFooter li a:hover {
    color: #f4a482;
}

.footerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "footer-mainMenu footer-newsletter";
    padding-top: 60px;
}

p.mainMenu, p.footer-Newsletter {
    font-family: 'Asap', sans-serif;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    font-size: 16px;
    line-height: 40px;
}
p.footer-Newsletter {
    font-size: 16px;
}
p.newsletterMessage {
    font-family: 'Libre Baskerville', serif;
    font-size: 12px;
}

#emailSubscriber-input {
    padding: 12px;
    width: 85%;
    border: none;
    border-radius: 2.4px;
    font-family: 'Libre Baskerville', serif;
}

#joinSubscriber-button {
    padding: 8px 10px;
    margin-top: 4px;
    border: none;
    border-radius: 2.7px;
    color: #fff;
    background-color: #585e71;
    opacity: 0.87;
    text-transform: uppercase;
    font-size: 11px;
    font-family: 'Asap', sans-serif;
    transition: opacity 0.3s;
}
#joinSubscriber-button:hover {
    cursor: pointer;
    opacity: 1;
}

.footer-mainMenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 11px;
}
.footer-mainMenu ul a {
    text-transform: uppercase;
    font-family: 'Asap', sans-serif;
    text-decoration: none;
    color: #fff;
}
.footer-mainMenu ul a:hover {
    color: #f4a482;
}

p.copyright a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Asap', sans-serif;
    font-size: 11px;
}

p.social-media-footer {
    font-size: 40px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

p.social-media-footer a {
    color: #fff;
    letter-spacing: 15px;
    margin-bottom: 25px;
}
p.social-media-footer a:hover {
    color: #f4a482;
}

p.social-media-footer-copyright {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Asap', sans-serif;
    font-size: 14px;
    color: #fff;
    width: 100%;
    margin: 0 auto;
}

p.social-media-footer-copyright a {
    color: #fff;
    letter-spacing: 15px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

@media (min-width: 1024px) {
    .container {
        background-size: cover;
    }
    .portfolioColumn img {
        max-width: 100%;
        max-height: 100vh;
    }
    .footerGrid {
        padding: 60px 115px;
    }
}

@media (max-width: 1019px) {
    .footerGrid {
        display: block;
        padding: 60px 0;
    }
}

@media (max-width: 760px) {
    .entireNavigation .menu-icon {
        display: block;
    }
    .entireNavigation .menu {
        clear: both;
        max-height: 0;
        overflow: hidden;
    }
    .navBar-btn:checked ~ .menu {
        max-height: 330px;
    }
    body {
        font-size: 16px;
    }
    p.aboutText, p.copyright {
        margin: 0 20px 30px;
    }
}

@media (max-width: 444px) {
    p.newsletterMessage {
        font-size: 9px;
    }
    body {
        font-size: 14px;
    }
}

@media (max-width: 375px) {
    p.social-media-footer-copyright {
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: 'Asap', sans-serif;
        font-size: 11px;
        color: #fff;
        width: 100%;
        margin: 0 auto;
    }

    p.social-media-footer-copyright a {
        color: #fff;
        letter-spacing: 15px;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
}
