/*######## Defaults ########*/

nav,
header,
footer{
    display: block;
}

body{
    line-height: 1;
    margin: 0;
}

.container{
    margin: auto;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    
}

/*######## Navigation Bar ########*/

ul.topNavigation li{
    list-style: none;
    float: left;
    
}

ul.topNavigation li.topNavigation-right{
    float: right;
}

