/*######## Defaults ########*/

nav,
header,
footer{
    display: block;
}

body{
    line-height: 1;
    margin: 0;
    background-color: #F5F3F2;
}

.container{
    margin: auto;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 5%;
    text-align: center;
    
}

/*######## Navigation Bar ########*/

nav,
topNavigation{
    width: 100%;
    margin: 0;
}

nav ul{
    background-color: #F5F3F2;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
ul.topNavigation li{
    list-style: none;
    float: left;
}

ul.topNavigation li.topNavigation-right{
    float: right;
    font-size: 15px;
    padding-right: 10px;
}

ul.topNavigation li a{
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 20px;
    color: #656565;
    text-transform: uppercase;
}

.topNavigation-left{
    padding-left: 90px;
    text-transform: uppercase;
}

.topNavigation li a:hover{
    color: #f4a482;
}


/*######## Custom Styles ########*/

/*
#section-1-backgroundImage{
    background-image: url(walking_away.jpg);
    background-image: -webkit- url(walking_away.jpg);
    background-image: -o- url(walking_away.jpg);
    background-image: -moz- url(walking_away.jpg);  
}
*/

















