html {
    letter-spacing: 1.7px;
}

/*######## Navigation Bar ########*/

a {
    color: #656565;
}

/* instead of nav its called header */

.entireNavigation {
    box-shadow: 0 3px 1rem rgba(0, 0, 0, .09);
    background: #f3f3f3;
    position: fixed;
    width: 100%;
    transition: 0.3s ease;
    z-index: 3;
}

/* the list items underneath the logo*/

.entireNavigation ul {
    font-family: 'Asap', sans-serif;
    text-transform: uppercase;
    /*font-size: 15px;*/
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background: #f3f3f3;
    transition: 0.3s ease;
}

/* the anchor tags of headers*/

.entireNavigation ul a {
    display: flex;
    padding: 20px 20px;
    text-decoration: none;
    transition: 0.3s ease;
}
.entireNavigation ul a:hover {
    color: #f4a482;
    transition: 0.3s ease;
}

/* the positioning and styling of the tbdross logo*/

.entireNavigation .logoLeftName {
    font-family: 'Asap', sans-serif;
    text-transform: uppercase;
    float: left;
    display: block;
    font-size: 17px;
    padding: 20px 20px 0px 22px;
    text-decoration: none;
    transition: 0.3s ease;
}
.entireNavigation a.logoLeftName:hover {
    color: #2e3438;
}

/* this clears the syling and positions the items underneath the logo */

.entireNavigation .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.1s ease-out;
}

/* this is the styling of the hamburger*/

.entireNavigation .menu-icon {
    position: relative;
    float: right;
    padding: 27px 20px;
    cursor: pointer;
}

/* these 3 header menue-icon stylings are for the hamburger*/

.entireNavigation .menu-icon .nav-icon {
    background: #656565;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background 0.2s ease-out;
    border-radius: 15px;
}
.entireNavigation .menu-icon .nav-icon:before {
    background: #656565;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 5px;
    border-radius: 15px;
    transition: all 0.2s ease-out;
}
.entireNavigation .menu-icon .nav-icon:after {
    background: #656565;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -5px;
    border-radius: 15px;
    transition: all 0.3s ease-out;
}

/*this links the input check and the hamburger together*/

.navBar-btn {
    display: none;
}
.entireNavigation .navBar-btn:checked~ .menu {
    max-height: 330px;
}
.entireNavigation .navBar-btn:checked~ .menu-icon .nav-icon {
    background: transparent;
}
.entireNavigation .navBar-btn:checked~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}
.entireNavigation .navBar-btn:checked~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}

/*
nav,
topNavigation {
    font-family: 'Asap', sans-serif;
    font-weight: 400;
    width: 100%;
    margin: 0;
    display: block;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, .09);
    position: fixed;
    transition: 0.2s;
}
nav.hide {
    transform: translateY(-100%);
}
nav ul {
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul.topNavigation {
    margin: 0 auto;
}
ul.topNavigation li {
    list-style: none;
    float: left;
}
ul.topNavigation li.topNavigation-right,

this is the styling label for the rest of the navigation bar contents 
*/


/*ul.topNavigation li.socialMedia_icon-right
 this is the styling label for the twitter and instagram icons */


/*{
    float: right;
    font-size: 15px;
}
ul.topNavigation li a {
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    color: #656565;
    text-transform: uppercase;
    transition: 0.3s;
}
.topNavigation-left {
    padding-left: 90px;
    text-transform: uppercase;
    font-size: 16px;
}
.topNavigation li a:hover {
    color: #f4a482;
}
.social-part .fa {
    padding-right: 90px;
}
ul li a {
    margin-right: 20px;
}*/

.container,
.aboutContainer {
    padding: 0;
    margin: 0;
}

/* below is the beginning of contact form styling */

h1 {
    margin: 30px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: #77716d;
}
.contact-form {
    padding: 70px 40px 0px 0px;
    font-family: 'Libre Baskerville', serif;
    color: #77716d;
    width: 600px;
    margin: 0 auto;
}
.contact-form .form-control {
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #cfd8dc;
    transition: 1s ease;
    font-weight: bold;
}
.contact-form .form-control:focus {
    transition: 1s ease;
    border-bottom: 1px solid #f4a482;
}
.contact-main .contact-main-title h2 {
    margin-top: 0;
}
.contact-form .send-msg {
    font-family: 'Libre Baskerville', serif;
    color: #f4a482;
    border: 1px solid #f4a482;
    height: 40px;
    background-color: transparent;
    transition: all 0.8s ease-out;
    margin-top: 40px;
}
.contact-form .send-msg:hover {
    color: #fff;
    border: 1px solid #fff;
    height: 40px;
    background-color: #f4a482;
}

/* new mobile responsive navigation bar*/

@media(min-width: 760px) {
    .entireNavigation {
        /* height: 100%;*/
    }
    .entireNavigation li {
        float: left;
    }
    .entireNavigation li a {
        padding: 20px 20px;
    }
    .entireNavigation .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .entireNavigation .menu-icon {
        display: none;
    }
    .entireNavigation .menu-icon .nav-icon {
        height: 4px;
        width: 20px;
    }
    .contact-form {
        margin: 0 auto;
        /* width: 100%;*/
    }
}

/* padding around contact form for mobile*/

@media(max-width: 760px) {
    .contact-form {
        margin: 0 auto;
        /* width: 100%;*/
        padding: 70px 70px 0px 70px;
    }
}
