body {
    padding: 70px 40px 0px 0px;
}
h1 {
    margin: 30px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: #77716d;
}
.contact-form {
    font-family: 'Libre Baskerville', serif;
    color: #77716d;
    width: 600px;
    margin: 0 auto;
}
.contact-form .form-control {
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #cfd8dc;
    transition: 1s ease;
    font-weight: bold;
}
.contact-form .form-control:focus {
    transition: 1s ease;
    border-bottom: 1px solid #2abfcc;
}
.contact-main .contact-main-title h2 {
    margin-top: 0;
}
.contact-form .send-msg {
    font-family: 'Libre Baskerville', serif;
    color: #2abfcc;
    border: 1px solid #2abfcc;
    height: 40px;
    background-color: transparent;
    transition: all 0.8s ease-out;
    margin-top: 40px;
}
.contact-form .send-msg:hover {
    color: #fff;
    border: 1px solid #fff;
    height: 40px;
    background-color: #2abfcc;
}
