html {
    background-color: #f7f7f7;
    letter-spacing: 1.7px;
}

/*######## Navigation Bar ########*/

nav,
topNavigation {
    background: #f3f3f3;
    font-family: 'Asap', sans-serif;
    font-weight: 400;
    width: 100%;
    margin: 0;
    display: block;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, .09);
    position: fixed;
    transition: 0.2s;
}
nav.hide {
    transform: translateY(-100%);
}
nav ul {
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul.topNavigation {
    margin: 0 auto;
}
ul.topNavigation li {
    list-style: none;
    float: left;
}
ul.topNavigation li.topNavigation-right,

/*this is the styling label for the rest of the navigation bar contents */

ul.topNavigation li.socialMedia_icon-right
/* this is the styling label for the twitter and instagram icons */

{
    float: right;
    font-size: 15px;
}
ul.topNavigation li a {
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    color: #656565;
    text-transform: uppercase;
    transition: 0.3s;
}
.topNavigation-left {
    padding-left: 90px;
    text-transform: uppercase;
}
.topNavigation li a:hover {
    color: #f4a482;
}
.social-part .fa {
    padding-right: 90px;
}
ul li a {
    margin-right: 20px;
}
h1 {
    margin: 30px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: #77716d;
}
.contact-form {
    padding: 70px 40px 0px 0px;
    font-family: 'Libre Baskerville', serif;
    color: #77716d;
    width: 600px;
    margin: 0 auto;
}
.contact-form .form-control {
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #cfd8dc;
    transition: 1s ease;
    font-weight: bold;
}
.contact-form .form-control:focus {
    transition: 1s ease;
    border-bottom: 1px solid #2abfcc;
}
.contact-main .contact-main-title h2 {
    margin-top: 0;
}
.contact-form .send-msg {
    font-family: 'Libre Baskerville', serif;
    color: #2abfcc;
    border: 1px solid #2abfcc;
    height: 40px;
    background-color: transparent;
    transition: all 0.8s ease-out;
    margin-top: 40px;
}
.contact-form .send-msg:hover {
    color: #fff;
    border: 1px solid #fff;
    height: 40px;
    background-color: #2abfcc;
}
